.Hero_OuterBox{
    /* background: #000; */
    width: 100%;
    height: 90vh;
    overflow: hidden;
    /* min-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Hero_InnerBox{
    /* background: yellow; */
    padding:1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end; 
    margin-top: -7rem;
}

.Hero_InnerBox h1{
    text-align: right;
    font-family: 'Poppins', 'Playfair Display', 'Spline Sans', 'Special Gothic Expanded One', sans-serif;
    color: rgba(146, 146, 146, 1);
    font-size: 10rem;
    line-height: 80%;
    letter-spacing: .8rem;
    /* border: 1px solid black; */
    word-break: break-word;
}

.Hero_InnerBox p{
    color: rgb(187, 79, 79);
    text-align: right;
    margin-top: -6rem;
    font-size: 2rem;
    text-wrap:inherit;
    width: 60%;
    max-width: 100%;
}

.Button_box{
    margin-top: -3rem;
    position: relative;
}

.Button_Wrapper{
    /* background: rgba(184, 138, 138, 0.323); */
    right: 40%;
    /* top: 80%; */
    position: absolute;
    margin-right: 2rem;
    border-radius: 50px;
    padding: .3rem 2rem;
    gap: 15px;
    display: flex;
    border: 2px solid   rgb(187, 79, 79);
    justify-content: space-between;
    align-items: center;
}
.Button_Wrapper h1{
    color: rgb(187, 79, 79);
    font-weight: 600;
    font-size: 1.3rem;
}
.arrow_Down{
    width: 32px;
    height: 32px;
}



/* Tablet view */
@media (max-width: 768px) {
    .Hero_OuterBox {
        height: 100vh;
        /* min-height: 220px; */
    }
    .Hero_InnerBox {
        margin-top: 2rem;
        padding: 0rem 3rem;
        /* background: #000; */
        /* align-items: flex-end; */
    }
    .Hero_InnerBox h1 {
        font-size: 8rem;
        letter-spacing: 0.12rem;
    }
    .Hero_InnerBox p {
        font-size: 1.8rem;
        margin-top: -4rem;
        width: 100%;
    }
    .Button_box {
        margin-top: -1.2rem;
    }
    .Button_Wrapper {
        right: 50%;
        border-radius: 50px;
        margin-right: 0.3rem;
        padding: 0rem 2.5rem;
        gap: 15px;
    }
    .Button_Wrapper h1 {
        font-size: 1.8rem;
    }
    .arrow_Down{
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 486px) {
    .Hero_OuterBox {
        height: auto;
        min-height: 70vh;
        /* background:yellow ; */
    }
    .Hero_InnerBox {
        /* background: yellow; */
        padding: 0.7rem;
        margin-top: 9rem;
        align-items: flex-end;
    }
    .Hero_InnerBox h1 {
        font-size: 4.5rem;
        letter-spacing: 0.05rem;
    }
    .Hero_InnerBox p {
        font-size:1rem;
        margin-top: -3rem;
        width: 100%;
    }
    .Button_box {
        margin-top: -0.7rem;
    }
    .arrow_Down{
        width: 25px;
        height: 20px;
    }
    .Button_Wrapper {
        right: 50%;
        margin-right: 0;
        padding: .13rem .5rem;
        gap: 5px;
    }
    .Button_Wrapper h1 {
        font-size: 0.7rem;
    }
}

/* Mobile view */
@media (max-width: 390px) {
    .Hero_OuterBox {
        height: 100vh;
        /* min-height: 80vh; */
        /* background:yellow ; */
    }
    .Hero_InnerBox {
        /* background: yellow; */
        padding: 0.7rem;
        margin-top: 4rem;
        align-items: flex-end;
    }
    .Hero_InnerBox h1 {
        font-size: 4.2rem;
        letter-spacing: 0.05rem;
    }
    .Hero_InnerBox p {
        font-size:1rem;
        margin-top: -3rem;
        width: 100%;
    }
    .Button_box {
        margin-top: -0.7rem;
    }
    .arrow_Down{
        width: 25px;
        height: 20px;
    }
    .Button_Wrapper {
        right: 50%;
        margin-right: 0;
        padding: .13rem .5rem;
        gap: 5px;
    }
    .Button_Wrapper h1 {
        font-size: 0.7rem;
    }
}

